.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: salmon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {
  width: 50%;
  text-align: left;
  list-style: none;
  padding: 2vw;
}

li {
  color: #fff;
  font-size: 20px;
  padding: 2px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

input {
  padding: 5%;
  border: 0;
  outline: 0;
  text-indent: 10px; 
}

button {
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1;
  margin: 20px;
  padding: 5%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color:black;
} 